APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_URL=https://dacms.dev
APP_LOCALE=en
APP_DOMAIN=dacms.dev

DB_HOST=localhost
DB_DATABASE=dacms
DB_USERNAME=dacms
DB_PASSWORD=dacms

CACHE_DRIVER=redis
SESSION_DRIVER=redis

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=no-reply@dacms.dev
MAIL_PASSWORD=password
MAIL_CONTACTFORM=contact@dacms.co

RECAPTCHA_PUB=
RECAPTCHA_PRI=
GOOGLE_ANALYTICS=
PIWIK_ID=
PIWIK_DOMAIN=
PIWIK_URL=
DISQUS_KEY=
DISQUS_FORUM=
SHARETHIS=