body
{
    padding-top: 70px;
}

footer
{
    margin: 50px 0;
}

.smallest
{
    font-size: 40%;
}

.small
{
    font-size: 75%;
}

.medium
{
    font-size:110%;
}

.large
{
    font-size:165%;
}

.largest
{
    font-size:225%;
}

#buttons
{
	position:absolute;
	height:26px;
	width:540px;
	right:110px;
	margin-top:27px;
	text-align:right;
}

#buttons span
{
	height: 22px;
}

#buttons .stButton
{
	margin-left:1px !important;
	margin-right:1px !important;
}

#disqus_thread
{
	margin:20px 0 0 0;
}

#local_comments
{
	display:none;
}

.error
{
	color:red !important;
}